/********** Base styles **********/
* {
 box-sizing: box-border;
 font-family: Zapf Chancery, cursive;
}
h1 {
  text-align: center ;
  margin-top: 40px;
  margin-bottom: 30px;
}
h2 {
  height: 30px;
  width: 30%;
  position: relative;
}
#one {
 background-color:  #F08080 ;
 position: absolute;
 top: -20px;
 right: 0; 
}
#two {
background-color: #228B22 ;
position: absolute;
top: -20px;
right: 0;
}
#three {
background-color: #9932CC;
position: absolute;
top: -20px;
right: 0;
}
.box {
    background-color: #87CEEB;
    border: 5px solid black;
    position: relative;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: auto;
    padding: 20px;
    padding-top: 25px;
    overflow: hidden;
}

.row {
  width: 100%;
  margin: 0;
  padding: 15px;
}
/* Large devices */
@media (min-width: 992px) {
  .first {
    width: 33.33%;
    float: left;
  }
  .second {
    width: 33.33%;
    float: left;
  }
  .third {
    width: 33.33%;
    float: left;
  }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .first {
    width: 50%;
    float: left;
  }
  .second {
    width: 50%;
    float: left;
  }
  .third {
    width: 100%;
    float: left ;
  }
}
