/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: 'Zapf Chancery', cursive;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.box__wrapper {
    width: 33.33%;
    float: left;
}

.box {
    background-color: #87CEEB;
    border: 5px solid black;
    position: relative;
    margin: 0 30px 15px 0;
    padding: 20px;
    overflow: hidden;
}

.box__title {
    height: 30px;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.box__title_red {
    background-color: #F08080;
}

.box__title_green {
    background-color: #228B22;
}

.box__title_pink {
    background-color: #9932CC;
}


/* Medium devices */
@media (max-width: 992px) {
    .box__wrapper {
        width: 50%;
        float: left;
    }
    .box__wrapper:last-child {
        width: 100%;
        float: left ;
    }
}
@media (max-width: 768px) {
    .box__wrapper {
        width: 100%;
        float: none;
    }
    .box {
        margin: 0 15px 15px;
    }
}

